<a class="nav-link" routerLink="/">Về trang chủ</a>
<table class="">
    <thead>
        <tr class="">
            <td colspan="2">
                <h2>Danh sách đọc</h2>
            </td>
        </tr>
    </thead>
    <tbody *ngFor="let i of books">
        <tr *ngIf="i.read == true">
            <td>{{i.name}}</td>
            <td><button class="btn btn-primary" (click)="change(i)">Đọc lại</button></td>
        </tr>
    </tbody>
</table>
<a class="nav-link" routerLink="/reading">Danh sách đọc</a>
