<a class="nav-link" routerLink="/">Về trang chủ</a>
<table class="">
    <thead>
        <tr class="">
            <td colspan="2">
                <h2>Danh sách đọc</h2>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <form [formGroup]="form" (ngSubmit)="save()">
                    <div class="">
                        <input type="text" class="form-control" placeholder="Nhập tên sách"
                            aria-label="Recipient's username" aria-describedby="button-addon2" formControlName="name">
                        <div class="">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Thêm</button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </thead>
    <tbody *ngFor="let i of books">
        <tr *ngIf="i.read == false">
            <td>{{i.name}}</td>
            <td><button class="btn btn-primary" (click)="change(i)">Đã đọc</button></td>
        </tr>
    </tbody>
</table>
<a class="nav-link" routerLink="/readed">Danh sách đã đọc</a>
